# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Uploads
uploads/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Generated Documents
*.docx
*.pdf

# Distribution / packaging
build/
dist/
*.egg-info/
